<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Bootstrap with Angular js</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/screen.css?v=2" rel="stylesheet">

</head>

<body>
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" target="_blank" href="http://www.elements.at">elements.at</a>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

<div class="container" ng-controller="filtering">

    <div class="row">
        <div class="col-xs-12 col-sm-3" id="sidebar" role="navigation">
            <div class="list-group">

                <h3>Titel / Artist</h3>

                <div class="form-group">
                    <input type="text" class="form-control" id="stichwortinput" placeholder="" ng-model="keyword">
                </div>


                <h3>Kategorie</h3>

                <div class="form-group">
                    <div class="col-lg-offset-1 col-lg-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="search.action"> Action & Adventure
                            </label>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-1 col-lg-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="search.comedy"> Comedy
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-1 col-lg-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="search.drama"> Drama
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-1 col-lg-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="search.horror"> Horror
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-1 col-lg-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="search.sports"> Sports
                            </label>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-xs-12 col-sm-9">
            <div class="jumbotron">
                <h1>Hello, world!</h1>

                <p>This is an example to show the potential of Bootstrap. Try some
                    responsive-range viewport sizes to see it in action.</p>
				<p>
				<a href="https://github.com/Gerhard-Kanzler/angularjs-elements.at" class="btn btn-primary">View on GitHub</a>
				</p>
            </div>

            <div class="row" ng-hide="pageLength <= 0">
                <div class="col-lg-12">
                    <div class="text-right" pagination="page" num-pages="pageLength" max-size="maxSize" current-page="currentPage" boundary-links="false">
                        <ul class="pagination">
                            <li ng-repeat="page in pages" ng-class="{active: page.active, disabled: page.disabled, prevbutton: page.prevbutton}"><a ng-click="selectPage(page.number)">{{page.text}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 teaser-container" ng-cloak>
                    <div class="teaser" ng-repeat="data in (movies = (appData | filter:searchMovie | filter:category) ) | startFrom: startPage | limitTo: pagelimit track by $index">
                        <div class="col-lg-2 col-sm-2 col-xs-12 text-center">
                            <img bn-lazy-src="{{ data['im:image'][2].label }}" class="img-thumbnail">
                        </div>
                        <div class="col-lg-10 col-sm-10 col-xs-12">
                            <h2>{{ data['im:name'].label }}</h2>
                            <p>{{ data.summary.label | limitTo:250 }} <span ng-show="data.summary.label.length>250" >...</span></p>

	                        <div class="row margin-bottom-15">
                                <div class="col-lg-12">
                                    <a ng-href="{{ data.link[0].attributes.href }}" target="_blank" class="btn btn-default">Details</a>
                                </div>
	                        </div>

	                        <div class="collapse" data-toggle="collapse"></div>

                            <div class="pull-right hidden-xs">
                                <span ng-show="data['im:rentalPrice'].attributes.amount"><b>Leihen:</b> {{ data['im:rentalPrice'].attributes.amount | currency:'€ ' }},</span>
                                <span ng-show="data['im:price'].attributes.amount"><b>Kaufen:</b> {{ data['im:price'].attributes.amount | currency:'€ ' }}</span>
                            </div>
                            <div class="pull-left visible-xs">
                                <span ng-show="data['im:rentalPrice'].attributes.amount"><b>Leihen:</b> {{ data['im:rentalPrice'].attributes.amount | currency:'€ ' }},</span>
                                <span ng-show="data['im:price'].attributes.amount"><b>Kaufen:</b> {{ data['im:price'].attributes.amount | currency:'€ ' }}</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <!--/row-->

            <div class="row" ng-hide="pageLength <= 0">
                <div class="col-lg-12">
                    <div class="text-right" pagination="page" num-pages="pageLength" max-size="maxSize" current-page="currentPage" boundary-links="false">
                        <ul class="pagination">
                            <li ng-repeat="page in pages" ng-class="{active: page.active, disabled: page.disabled, prevbutton: page.prevbutton}"><a ng-click="selectPage(page.number)">{{page.text}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!--/span-->

        <!--/span-->
    </div>
    <!--/row-->

    <hr>

    <footer>
        <p>&copy; elements.at 2013</p>
    </footer>

</div>
<!--/.container-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="js/angular-1.2.0-rc2.js"></script>
<script src="js/angular-animate.min.js"></script>

<script src="js/pagination.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/demoApp.js"></script>
<script src="js/lazy.js"></script>

</body>
</html>